BpelModule/src/arch-skills_80/examsUnal/PostulateEmployee.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service.BusinessLogic.examsUnal.unal.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service.BusinessLogic.examsUnal.unal.co/">

<xs:element name="postulate" type="tns:postulate"/>

<xs:element name="postulateResponse" type="tns:postulateResponse"/>

<xs:complexType name="postulate">
<xs:sequence>
<xs:element name="parameter" type="tns:postulateEmployeeRequestDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="postulateEmployeeRequestDto">
<xs:sequence>
<xs:element name="employee" type="tns:employee" minOccurs="0"/>
<xs:element name="features" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="document" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="tns:gender" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="postulateResponse">
<xs:sequence>
<xs:element name="return" type="tns:postulateEmployeeResponseDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="postulateEmployeeResponseDto">
<xs:sequence>
<xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
<xs:element name="success" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="gender">
<xs:restriction base="xs:string">
<xs:enumeration value="MALE"/>
<xs:enumeration value="FEMALE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>