BpelModule/src/arch-physical_80/ExamenesFisicos/PostulateEmployee.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service.BusinessLogic/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service.BusinessLogic/">

<xs:element name="Postulate" type="tns:Postulate"/>

<xs:element name="PostulateResponse" type="tns:PostulateResponse"/>

<xs:complexType name="Postulate">
<xs:sequence>
<xs:element name="employeeDTO" type="tns:employeeDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employeeDTO">
<xs:sequence>
<xs:element name="employee" type="tns:employee" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="document" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PostulateResponse">
<xs:sequence>
<xs:element name="return" type="tns:rob" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rob">
<xs:sequence>
<xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
<xs:element name="success" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>